<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<dom-module id="material-dialer">
  <template>
    <style>
      :host {
        display: block;
        background-color: var(--md-background-color, #21ce99);
      }

      .md-wrapper {
        @apply --layout-vertical;
      }

      .md-row {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
      }

      .md-item {
        margin: 2%;
        @apply --layout-vertical;
        padding: 0.7em 0.57em;
        min-width: 5.14em;
      }

      .md-item_digit,
      iron-icon {
        font-size: 2em;
        color: var(--md-item-digit-color, #ebffff);
      }

      .md-item_letters {
        color: var(--md-item-letters-color, #1d3c33);
        font-weight: bold;
      }

      paper-button {
        --paper-button-ink-color: var(--md-item-digit-color, #ebffff);
      }
    </style>

    <section id="md-wrapper">
      <section class="md-row">
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">1</div>
          <div calss="md-item_letters">&nbsp</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">2</div>
          <div calss="md-item_letters">ABC</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">3</div>
          <div calss="md-item_letters">DEF</div>
        </paper-button>
      </section>
      <section class="md-row">
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">4</div>
          <div calss="md-item_letters">GHI</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">5</div>
          <div calss="md-item_letters">JKL</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">6</div>
          <div calss="md-item_letters">MNO</div>
        </paper-button>
      </section>
      <section class="md-row">
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">7</div>
          <div calss="md-item_letters">PQRS</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">8</div>
          <div calss="md-item_letters">TUV</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">9</div>
          <div calss="md-item_letters">WXYZ</div>
        </paper-button>
      </section>
      <section class="md-row">
        <paper-button disabled class="md-item">
          <div class="md-item_digit">&nbsp</div>
          <div calss="md-item_letters">&nbsp</div>
        </paper-button>
        <paper-button on-tap="onButtonTap" class="md-item">
          <div class="md-item_digit">0</div>
        </paper-button>

        <paper-button on-tap="onButtonTap" class="md-item">
          <div calss="md-item_digit">
            <iron-icon icon="backspace"></iron-icon>
          </div>
        </paper-button>
      </section>
    </section>
  </template>

  <script>
    /**
     * `material-dialer`
     * Dialer that resemmbles Phone dialer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MaterialDialer extends Polymer.Element {
      static get is() { return 'material-dialer'; }
      static get properties() {
        return {
        };
      }

      /**
      * Callback to indicate tapping on one of the buttons
      * Fired bubbling events `md-remove` and `md-add` when dialer is pressed.
      *
      * @event md-remove
      * @param {nothin} newAwesome New level of awesomeness.
      * 
      * @event md-add
      * @param {Number} digit The digit that needs to be announced
      */
      onButtonTap(e) {
        var isBackspace = e.currentTarget.querySelector('iron-icon');
        if (isBackspace)
          this.dispatchEvent(new CustomEvent('md-remove'), {
            bubbles: true,
            composed: true
          });
        else {
          var digitEl = e.currentTarget.querySelector('.md-item_digit');
          if (digitEl) {
            this.dispatchEvent(new CustomEvent('md-add', {
              bubbles: true,
              composed: true,
              detail: {
                digit: Number(digitEl.textContent)
              }
            }));
          }
        }
      }
    }

    window.customElements.define(MaterialDialer.is, MaterialDialer);
  </script>
</dom-module>